<div class="flyntComponent" is="flynt-slider-images-default">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div data-slider class="slider swiper-container themeLight">
    <div class="swiper-wrapper">
      {% for image in images %}
        <div class="slider-item slider-item--desktop swiper-slide">
          <figure class="figure">
            <img class="figure-image lazyload"
              src="{{ image.src|resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
              data-sizes="auto">
            <img class="figure-image lazyload"
              src="{{ image.src|resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
              data-sizes="auto">
          </figure>
        </div>
      {% endfor %}
      {% for imageMobile in imagesMobile %}
        <div class="slider-item slider-item--mobile swiper-slide">
          <figure class="figure">
            <img class="figure-image lazyload"
              src="{{ imageMobile.src|resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', imageMobile.id)}}"
              data-sizes="auto">
            <img class="figure-image lazyload"
              src="{{ imageMobile.src|resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', imageMobile.id)}}"
              data-sizes="auto">
          </figure>
        </div>
      {% endfor %}
    </div>
    <div class="projectInfo-wrapper">
      <div class="title">{{ title }}</div>
      <div class="title showInfo">More Information</div>
      <div class="description"> {{ descriptionHtml|e('wp_kses_custom') }}</div>
    </div>
  </div>
</div>
